body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

    .background{
      background-color: black;
    }
    .center {
      display: flex;
      justify-content: center;
    }
    .flip3d{ width: 240px; height: 200px; margin: 10px; text-align: center; float:left;}
    .flip3d > .front{
      position:absolute;
      transform: perspective( 600px ) rotateY( 0deg );
      background: cyan; width:240px; height:200px; border-radius: 7px;
      backface-visibility: hidden;
      transition: transform .5s linear 0s;
    }
    .flip3d > .back{
      position:absolute;
      transform: perspective(600px) rotateY(180deg);
      background: #fc0; width: 240px; height: 200px; border-radius: 7px;
      backface-visibility: hidden;
      transition: transform .5s linear 0s;
    }
    .flip3d:hover > .front{
      transform: perspective(600px) rotateY(-180deg);
    }
    .flip3d:hover > .back{
      transform: perspective(600px) rotateY(0deg);
    }


    /* <script>


      var customerQuestion = prompt("Enter a Question", "<Question goes here>");

      if (customerQuestion!= null) {
        var customerAnswer = prompt("Enter the Answer", "<Answer goes here>");

        if (customerAnswer!= null) {

          document.getElementById("welcome").innerHTML =

          "Hello " + customerQuestion + "! How are you today?";

      }}

    </script>

*/
